In [1]:
import os, shutil, json, codecs
import psycopg2
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
file = "Student @Information!.csv";
df = pd.read_csv(file)
df

,ID,First Name,Last Name,Gender,Username,Email,University,Language
0,1,Cecilius,Jewsbury,Male,cjewsbury0,cjewsbury0@pen.io,"Swinburne University of Technology, Sarawak Ca...",Bengali
1,2,Garik,Lawford,Male,glawford1,glawford1@trellian.com,Bangladesh University of Professionals,Bislama
2,3,Estrellita,Azam,Female,eazam2,eazam2@ustream.tv,University of Peradeniya,Tok Pisin
3,4,Christabel,de Keep,Female,cdekeep3,cdekeep3@census.gov,Mississippi State University,Hebrew
4,5,Ev,Darrel,Male,edarrel4,edarrel4@examiner.com,Southern Connecticut State University,Aymara
...,...,...,...,...,...,...,...,...
995,996,Hillel,Gunson,Male,hgunsonrn,hgunsonrn@example.com,Ecole des Hautes Etudes Commerciales MAROC,Gujarati
996,997,Calv,Antonutti,Male,cantonuttiro,cantonuttiro@123-reg.co.uk,North Eastern Hill University,Lithuanian
997,998,Chip,Hanney,Male,channeyrp,channeyrp@kickstarter.com,Mordovian State University,Belarusian
998,999,Ric,Linde,Male,rlinderq,rlinderq@imgur.com,Université Kongo,Punjabi
999,1000,Nelie,Padell,Female,npadellrr,npadellrr@npr.org,Christian-Albrechts-Universität Kiel,Swahili

In [3]:
# adjust table name
file_name = file.split(".")[0]
table = file_name.lower().replace(" ", "_").replace("!", "").replace("@", "")
table

'student_information'

In [4]:
df.columns

Index(['ID', 'First Name', 'Last Name', 'Gender', 'Username', 'Email',
       'University', 'Language'],
      dtype='object')

In [5]:
df.columns = [x.lower().replace(" ", "_") for x in df.columns]
df.columns

Index(['id', 'first_name', 'last_name', 'gender', 'username', 'email',
       'university', 'language'],
      dtype='object')

In [6]:
conn = cur = None
conn = psycopg2.connect(
    host="localhost", 
    dbname="csv_db", 
    user="postgres", 
    password="namvt16052004", 
    port=5432
)
cur = conn.cursor()
if (conn and cur):
    print("Connect successfully!")

Connect successfully!

In [12]:
for row in df.columns:
    create_table = "create table {row}"
    cur.execute(create_table)

TypeError: function missing required argument 'query' (pos 1)